article {
    height: 15em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: 3em;
    padding: 1em;
    border: gray solid 1px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article .content {
    display: flex;
    height: 100%;
}

article .content .left {
    width: 20em;
    text-align: center;
    flex-shrink: 0;
}

article .content .left img {
    width: auto;
    height: 100%;
    max-width: 100%;
}

article .content .right {
    margin-left: 5em
}


#content {
    margin-left: 12em;
    margin-right: 12em;
    background: white;
}

.message {
    margin-left: 2em;
}

.wp-post-image {
    max-width: 100%;
    height: auto;
}