body {
    margin: 0px;
}

.profile_photo {
    width: 227px;
    height: 227px;
    border-radius: 50%;
}

.header_container {
    max-height: 19rem;
    overflow: hidden;
}

.header_container>img {
    overflow: hidden;
    width: 100%;
}


.social_network_profiles_menu {
    display: flex;
    justify-content: center;
}

.item img {
    width: 3em;
    height: 3em;
}

main {
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
}


.container {
    --bs-gutter-x: 2.5rem;
}


@media (min-width: 0px) {
    .description {
        font-size: large;
        margin-top: 2em;
    }
}



@media (min-width: 992px) {
    .description {
        font-size: x-large;
        margin-top: 0em;
        font-size: x-large;
    }
}