#header {
    background: gray;
    height: 2em;
    position: relative;
}


#header>.menu {
    background-color: gray;
}

article {
    margin-left: 2em;
}


article .content {
    display: flex;
}

article .content .left {
    width: 10%;
}

article .content .left img {
    width: 100%;
    height: auto;
}


article .content .right {
    margin-left: 1em;
}