#header {
    height: 4em;
    position: relative;
    background: #f9f9f9;
}

.menu {
    width: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    right: 0px;
    height: 100%;
    vertical-align: middle;
}

.menu a {
    color: grey;
    font-weight: bold;
    font-size: x-large;
}

.menu>.item {
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}








article {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: 3em;
    padding: 1em;
    border: gray solid 1px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article .content {
    display: flex;
}

article .content .left {
    width: 20em;
    flex-shrink: 0;
}

article .content .left img {
    width: 20em;
    height: auto;
}


article .content .right {
    margin-left: 5em
}


#content {
    margin-left: 12em;
    margin-right: 12em;
    background: white;
}

.message {
    margin-left: 2em;
}