#header {
    background: gray;
    height: 2em;
    position: relative;
}


#header>.menu {
    background-color: gray;
}

article {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-right: 3em;
    margin-left: 3em;
    padding: 1em;
    border: gray solid 1px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article .content {
    display: flex;
}

article .content .left {
    width: 20em;
}

article .content .left img {
    width: 20em;
    height: auto;
}


article .content .right {
    margin-left: 5em
}


#content {
    margin-left: 12em;
    margin-right: 12em;
    background: white;
}

.message {
    margin-left: 2em;
}